!!!
html
  head
    title= siteTitle
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/jquery-1.7.2.min.js")
    script(src="/js/boot.js")
  body
    #header
      a(href="/") 首页  
    != body
