body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.app {
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
}

.app .hd {
  position: absolute;
  right: -12px;
  top: -7px;
}

.apps {
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
}

.form-actions .btn {
  margin-right: 1em;
}

.app img {
  margin-bottom: 1em; 
}

.btn + .btn {
  margin-left: .5em;
}
