
.app {
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
}

.apps {
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
}

.app img {
  margin-bottom: 1em; 
}

.btn + .btn {
  margin-left: .5em;
}

form .help-block {
  color: #999;
  color: .9em;
}
